<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kli.controlpanel"
    android:versionCode="6"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- for baidu api -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- for lock screen -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:configChanges="orientation"
        android:name="App" >
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="360 market" />
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="3c625eeff3" />  <!-- 3c625eeff3 -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <!-- 您从百度移动联盟网站获取的APPSID -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="ba428a14" />
        <!-- 您从百度移动联盟网站获取的计费名 -->
        <meta-data
            android:name="BaiduMobAd_APP_SEC"
            android:value="ba428a14" />

        <activity
            android:name="cn.kli.controlpanel.module.floatpanel.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Launcher"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="cn.kli.controlpanel.module.floatpanel.ThemeSetting" >
        </activity>

        <service
            android:name="cn.kli.controlpanel.MainService"
            android:exported="false" >
        </service>

        <receiver
            android:name="AppBroadCastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".modules.OneKeyLockScreen"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name="cn.kli.controlpanel.modules.DeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- 注册AppActivity -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name=".launcher.ControlActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.kli.controlpanel.modules.LightControlActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.deviceinfo.DeviceInfoActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.kli.controlpanel.module.floatpanel.FloatPanelService"
            android:exported="false" >
        </service>

        <activity
            android:name="cn.kli.controlpanel.module.floatpanel.FloatPanelLauncher"
            android:label="@string/module_float_panel"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity android:name=".module.devicecontrol.DisplayControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".module.devicecontrol.AppControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".module.devicecontrol.BluetoothControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".module.devicecontrol.DateControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".module.devicecontrol.SoundControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".module.devicecontrol.WifiControl">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="cn.kli.controlpanel.module.t9search.T9MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:icon="@drawable/t9_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver android:name="cn.kli.controlpanel.module.t9search.AppsReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name="cn.kli.controlpanel.module.t9search.Settings" >
        </activity>
        
        <activity android:name=".module.feedback.ComposeMessageActivity"
            android:windowSoftInputMode="adjustResize">
            
        </activity>
        
        <activity-alias
            android:name="FeedbackActivity1"
            android:targetActivity=".module.feedback.ComposeMessageActivity">
        </activity-alias>
        
        <activity-alias
            android:name="FeedbackActivity2"
            android:targetActivity=".module.feedback.ComposeMessageActivity">
        </activity-alias>
        
        <activity-alias
            android:name="FeedbackActivity3"
            android:targetActivity=".module.feedback.ComposeMessageActivity">
        </activity-alias>
    </application>

</manifest>